/* CORE */
[id^=tooltip] {
    position: fixed;
    z-index: 2147483647;
    opacity: 0;
    left: -4096px;
    top: -2160px;
    pointer-events: none;
}
/* STYLE */
[id^=tooltip] {
    text-align: left;
    color: #FFF;
    background: rgba(0, 0, 0, .75);
    padding: 10px;
    max-width: 340px;
    word-break: break-all;
    transition:opacity 0.2s ease-in-out;
    margin-top: 5px;
}
[id^=tooltip].bottom {
    margin-top: -5px;
}
[id^=tooltip]::after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid rgba(0, 0, 0, .75);
    content: '';
    position: absolute;
    left: 5px;
    top: -5px;
    pointer-events: none;
}
[id^=tooltip].bottom::after {
    bottom: -5px;
    top: auto;
    transform: rotate(180deg);
}
[id^=tooltip].right::after {
    right: 5px;
    left: auto;
}
